@import "global";
@import "mixins";

html{
    scroll-behavior: smooth;
}

.hero{
    background: url("/images/Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    position: relative;

    .nav-bar{
        display: grid;
        grid-template-columns: 15% 80%;
        grid-column-gap: 5%;
        padding: 60px 140px 50px;
        align-items: center;

        .hamburger{
                display: none;
                text-align: right;
                img{
                    width: 30px;
                    height: 28px;
                }
        }

        .logo img{
            width: 120px;
            height: 50px;

            &:hover{
                transform: scale3d(1.1,1.1,1.1);
                transition: 0.2s linear;
            }
        }

        ul {
            text-align: right;
    
            li{
                list-style: none;
                display: inline-block;
                text-transform: capitalize;
                padding: 0 40px;
    
               a{
                    text-decoration: none;
                    color: $primary-color;
                    font-weight: bold;
                    font-size: 19px;
    
                    &:hover{
                         opacity: 0.9;
                         cursor: default;
                    }
                }
            }
        }
        
    }

    .close-icon{
        display: none;

        img{
            width: 28px;
            height: 26px;
        }
    }

    .container{
        padding: 80px 100px 50px;

        .container-info{
            margin: 20px auto;
            text-align: center;

            h1{
                @include primary-heading;
                padding: 0 30px 10px;
                line-height: 55px;
            }

            p{
                font-size: $secondary-font;
                line-height: 35px;
            }
            
            .primary-btn{
                @include buttons;
                background: transparent;
                color: $primary-color;

                &:hover{
                    background: $primary-color;
                    color: $black;
                    transform: scale3d(1.1,1.1,1.1);
                    transition: 0.3s linear;
                }
            }

            .secondary-btn{
                @include buttons;
                background: $primary-color;

                &:hover{
                    background: transparent;
                    color: $primary-color;
                    transform: scale3d(1.1,1.1,1.1);
                    transition: 0.3s linear;
                }
            }
        }   
    }

    .phone-image{
        // height: 520px;
        // position: absolute;
        // margin-left: 720px; 
        margin: 0 auto;
        text-align: center;
    }
}

.about{

    background: url("../images/about-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin-top: -180px;
    position: relative;
    padding: 250px 30px 90px 90px;

        .about-info{
            display: grid;
            grid-template-columns: 32% 63%;
            grid-column-gap: 5%;
            margin: 20px 0;
            padding-bottom: 25px;

            img{
                margin: 120px 0 40px 120px;
            }
            .about-items{
                display: grid;
                grid-template-columns: 47% 47%;
                grid-column-gap: 30px;
                grid-row-gap: 20px;
                width: 100%;

                .item-box{
                    width: 275px;
                    height: 350px;
                    text-align: center;
                    color: $black;
                    padding: 40px 30px 10px;
                    border: 1px solid transparent;
                    background-color: $primary-color;
                    box-shadow: 5px 10px 18px #888888;

                    img{
                        margin: 10px;
                    }
                    h3{
                        @include small-heading;
                        line-height: 60px;
                    }
                    p{
                        font-size: $secondary-font;
                        line-height: 30px;
                    }
                }
            }

            .one{
                margin-left: 80px;
            }
            .two{
                margin-left: -10px;
                margin-top: 60px;
            }
            .three{
                margin-top: 70px;
                margin-left: -80px;
            }
        }
    
}

.testimonals{

    margin: 70px 100px;
    color: $black;
        
        .test-grid{
            display: grid;
            grid-template-columns: 45% 47%;
            grid-column-gap: 5%;
            padding: 40px 0;

            .test-info{
                text-align: right;
                
                h2{
                    @include secondary-heading;
                    line-height: 95px;
                    margin-top: 40px;
                }

                p{
                    font-size: $secondary-font;
                    font-weight: 500;
                    line-height: 30px;
                }

                .secondary-btn{
                    @include buttons;
                    background-color: deepskyblue;
                    color: $primary-color;

                    &:hover{
                        border: 1px solid deepskyblue;
                        background-color: $primary-color;
                        color: deepskyblue;
                        transition: 0.5s ease;
                    }
                }
            }

            .test-boxes .box{
                display: flex;
                flex: 1;
                margin-bottom: 20px;
                padding: 15px 10px;
                border: 1px solid transparent;
                box-shadow: 3px 3px 10px #888888;

                .box-icon{
                    width: 50px;
                    height: 50px;
                    padding: 10px;
                }

                .box-info{
                    margin-top: 5px;
                    margin-left: 5px;

                    h3{
                        @include small-heading;
                        line-height: 40px;
                    }
                    p{
                        display: none;
                        font-size: $secondary-font;
                        font-weight: 500;
                        line-height: 25px;
                        margin-bottom: 5px;
                    }
                }

                &:hover{
                    background-color: lighten(deepskyblue, 23);
                    color: $black;
                }
                &:hover > .box-info > p{
                    display: block;
                    color: $primary-color;
                }
            }
        }
}

.code-sec{
    background: url("../images/code-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    padding: 80px 0 100px;

    .code-grid{
        display: grid;
        grid-template-columns: 48% 47%;
        grid-column-gap: 5%;
        margin: 0 120px;
        color: $black;

        .code-img{
            margin-left: 55px;

            img{
                width: 100%;
            }
        }

        .code-info{
            
            h2{
                @include secondary-heading;
                line-height: 80px;
            }

            .code-box{
                display: flex;
                flex: 1;
                margin-top: 25px;
                
                .tick{
                    background-color: deepskyblue;
                    border-radius: 50%;
                    width: 23px;
                    height: 23px;
                    padding: 3px;

                    img{
                        width: 15px;
                    }
                }
                
                h3{
                    @include small-heading;
                    margin-left: 20px;
                }
            }

            p{
                font-size: $secondary-font;
                font-weight: 500;
                line-height: 30px;
                margin-top: 50px;
            }
        }
    }
}

.apps{
    background: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;

    .app-grid{
        display: grid;
        grid-template-columns: 36% 40%;
        grid-column-gap: 10%;
        padding: 100px 120px 70px 140px;
        color: $black;

        .app-img{
            text-align: right;
        }
        
        .app-info{
            padding: 95px 0;
            h2{
                @include secondary-heading;
                line-height: 80px;
            }

            p{
                font-size: $secondary-font;
                color: $primary-color;
                font-weight: 500;
                line-height: 30px;
                margin-top: 20px;
                margin-bottom: 50px;
            }
            
            .app-icons{

                img{
                    margin-right: 45px;

                    &:hover{
                        transform: scale3d(1.1,1.1,1.1);
                        transition: 0.4s ease;
                    }
                }
            }
        }
    }

    .app-btn{
        width: 400px;
        font-size: 22px;
        padding: 20px;
        position: absolute;
        margin-top: -40px;
        margin-left: 650px;
        color: $primary-color;
        background-color: darken(pink, 30);
        border: 1px solid transparent;

    }
}

.info{
    margin: 80px 100px 50px;
    padding: 0 50px;

    .info-grid{
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        grid-column-gap: 30px;
        padding: 50px 140px;
        color: $black;

        .info-box{
            margin: 10px 30px;
            h3{
                @include small-heading;
                margin-bottom: 20px;
            }

            ul{
                list-style: none;

                li{
                    color: #777;
                    padding: 10px 0;
                    font-weight: bold;
                    text-transform: capitalize;
                }
            }
        }
    }

    .sub-head{
        color: $black;
        text-align: center;
        h2{
            @include secondary-heading;
            line-height: 80px;
        }
        p{
            color: #777;
            line-height: 40px;
        }
    }

    .fields{
        margin: 40px 0;
        text-align: center;

        .fld-txtbx{
            width: 550px;
            height: 45px;
            border: 1px solid lighten(#999, 30);
            background: lighten(#999, 30);

            &:focus{
                border: 1px solid lighten(#999, 30);
            }
        }
        .field-btn{
            @include buttons;
            border-radius: 0;
            background-color: lighten(deepskyblue, 10);
            color: $black;
            height: 45px;
            font-size: 16px;
        }
    }
}

.footer{
    background-color: rgb(9, 9, 39);
    color: $primary-color;
    padding: 40px 100px;

    .footer-grid{
        display: grid;
        grid-template-columns: 30% 65%;
        grid-column-gap: 5%;
        align-items: center;

        .copyright{
            text-transform: capitalize;
        }

        .social-links{
            text-align: right;

            img{
                padding: 0 25px;
            }
        }
    }
}



// <----- Media Queries ----->


@media screen and (max-width: 1539px) {

    .testimonals {
        .test-grid{
            .test-info{
                h2 {
                    margin-top: 20px;
                }
            }
        }
    }

    .info{
        .info-grid {
        padding: 50px 40px;
        }
    }
}

@media screen and (max-width: 1471px){
    
    .code-sec{
        .code-grid{
            .code-img {
                margin-left: 0;
            }
        }
    }

    .apps{
        .app-btn {
            margin-left: 570px;
        }
    }
}

@media screen and (max-width: 1388px) {
    
    .hero{
        .phone-image{
            img{
                height: 475px;
            }
        }
    }

    .about {
        margin-top: -220px;
    }

    .testimonals {
        .test-grid{
            .test-info{
                h2 {
                    margin-top: 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 1375px){

    .hero{
        .nav-bar {
            padding: 60px 110px 50px;
        }
    }

    .apps{
        .app-btn {
            margin-left: 510px;
        }
    }

    .about{   

        .about-info{
            img {
                margin: 120px 0 40px 95px;
            }
            .about-items {
            grid-template-columns: 46% 46%;
            grid-column-gap: 50px;
            }
        }
    }
}

@media screen and (max-width: 1325px){

    .about {
        margin-top: -264px;
    }

    .about {
        padding: 250px 30px 90px;

        .about-info {
            display: grid;
            grid-template-columns: 29% 64%;
            grid-column-gap: 7%;
        }
    }

    .code-sec{
        .code-grid {
            margin: 0 50px;
        }
    }
    .testimonals {
        margin: 70px 70px;

        .test-grid {
            padding: 10px 0;
        }
    }

    .apps{
        .app-grid {
            padding: 100px 90px 70px;
        }
    }

    .info {
        padding: 0;
    }
}

@media screen and (max-width: 1300px){

    .hero .container {
        padding: 80px 100px 25px;
    }

    .about{
        .about-info{
            .about-items{
                .item-box {
                    width: 280px;
                    height: 333px;
                    padding: 25px 20px 10px;
                }
            }
        } 
    }

    .apps{
        .app-grid {
            grid-template-columns: 36% 50%;
        }
    }
}

@media screen and (max-width: 1275px) {
    
    .about {
        margin-top: -300px;
        padding: 215px 30px 90px;
    }

    .apps{
        .app-btn {
            margin-left: 450px;
        }
    }
}

@media screen and (max-width: 1225px){

    .about{
        .about-info{
            img {
                margin: 110px 0 40px 75px;
            }
        }
    }

    .footer {
        padding: 40px 75px;
    }
}

@media screen and (max-width: 1200px) {
    
    .hero{
        .nav-bar {
            padding: 50px 90px 40px;
        }

        .container {
            padding: 70px 100px 25px;
        }

        .phone-image img {
            height: 400px;
        }
    }

    .about {
        margin-top: -335px;
        padding: 180px 20px 90px;

        .about-info {
            grid-template-columns: 29% 67%;
            grid-column-gap: 4%;

            img {
                margin: 110px 0 40px 45px;
            }
        }
    }

    .testimonals {
        margin: 70px 40px;
    }

    .code-sec{
        .code-grid {
            margin: 0 40px;
        }
    }

    .apps{

        .app-grid {
            padding: 100px 40px 70px;
        }

        .app-btn {
            margin-left: 425px;
        }
    }

    .info {
        margin: 82px 80px 50px;
    }
}

@media screen and (max-width: 1175px) {
    
    .hero{
        .nav-bar {
            padding: 30px 90px;
        }
    }

    .about{
        .about-info{
            .about-items{
                .item-box {
                    height: 305px;
                }
            }
        }
    }

}

@media screen and (max-width: 1130px) {
    
    .about{
        margin-top: -375px;
        padding: 170px 20px 90px;

        .about-info{
            .about-items {
                grid-template-columns: 46% 42%;
                grid-column-gap: 70px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    
    .about{

        .about-info {
            grid-template-columns: 100%;
            grid-row-gap: 5%;
            grid-row: 2;
            text-align: center;
            margin: 0 60px;

            img{
                margin: 30px 0 0;
            }

            .about-items {
                grid-template-columns: 50% 50%;
                grid-column-gap: 0;
                grid-row-gap: 60px;
                justify-items: center;
            }

            .one {
                margin-left: 110px;
            }

            .two{
                margin-top: 0;
                margin-left: 0;
            }

            .three{
                margin-top: 0;
                margin-left: -110px;
            }
        }
    }

    .apps{
        .app-btn {
            margin-left: 370px;
        }
    }
}

@media screen and (max-width: 1065px){

    .about {
        margin-top: -410px;
    }

    .testimonals {
        margin: 70px 20px;
    }

    .code-sec{
        .code-grid {
            margin: 0 20px;
        }
    }

    .info {
        margin: 82px 40px 50px;
    }

    .footer{
        .footer-grid {
            grid-template-columns: 35% 62%;
            grid-column-gap: 3%;

            .social-links{
                img {
                    padding: 0 20px;
                }
            }
        }
    }
    .info{
        .info-grid{
            grid-template-columns: 18% 22% 21% 26%;

            .info-box {
                margin: 10px;
            }
        }
    }
}

@media screen and (max-width: 1005px) {
    
    .hero{
        .nav-bar {
            padding: 30px 70px;

            ul{
                li {
                    padding: 0 30px;

                    a{
                        font-size: $primary-font;
                    }
                }
            }
        }
    }

    .about {
        margin-top: -445px;
    }

    .testimonals{
        margin: 70px 20px 110px;

        .test-grid {
            grid-template-columns: 100%;
            grid-row-gap: 8%;
            padding: 0 100px;

            .test-info {
                text-align: left;
            }
        }
    }

    .code-sec{
        .code-grid {
            grid-template-columns: 100%;
            grid-row-gap: 5%;
            margin: 0 120px;
        }
    }

    .apps .app-grid {
        padding: 80px 40px 70px;
    }
}

@media screen and (max-width: 988px) {
    
    .about {
        .about-info{
            .about-phone{
                img {
                    height: 500px;
                }
            }
        }
    }

    .apps{
        .app-btn {
            margin-top: -57px;
            margin-left: 335px;
        }

        .app-grid {
            padding: 80px 40px 60px;

            .app-img {
                img{
                    height: 530px;
                }
            }
        }
    }
}

@media screen and (max-width: 945px) {
    
    .hero{

        .container{
            .container-info{
                margin: 15px auto 10px;

                p {
                line-height: 19px;
                }
            }
        }

        .phone-image img {
            height: 380px;
        }

        .nav-bar {
            ul{
                li {
                    padding: 0 25px;
                }
            }
        }
    }

    .about {
        margin-top: -475px;
    }

    .apps{
        .app-grid {
            padding: 80px 40px 30px;
            grid-template-columns: 36% 53%;
            
            }
    }

    .footer {
        padding: 40px 50px;
    }
}

@media screen and (max-width: 900px){

    .about {
        margin-top: -502px;
    }

    .apps{
        .app-grid {
            grid-template-columns: 100%;
            grid-row-gap: 5%;
            padding: 55px 65px 0;

            .app-img {
                text-align: center;
            }

            .app-info {
                padding: 0 0 90px;

                h2{
                    line-height: 35px;
                }
                p {
                    margin-bottom: 35px;
                }

                .app-icons{
                    text-align: right;
                    margin-bottom: 30px;
                }
            }
        }
        .app-btn {
            margin-top: -35px;
            margin-left: 275px;
        }
    }

    .testimonals{
        .test-grid {
            padding: 0 65px;
        }
    }

    .code-sec{
        .code-grid {
            margin: 0 65px;
        }
    }
}

@media screen and (max-width: 878px){
    
    .hero{
        .nav-bar {
            padding: 30px 45px;

            ul{
                li {
                    padding: 0 23px;
                }
            }
        }
    }

    .about{
        padding: 136px 20px 90px;
    }

    .footer{
        .footer-grid {
            grid-template-columns: 49% 48%;
            grid-column-gap: 3%;
        }
    }
}

@media screen and (max-width: 850px) {
    
    .hero{
        .container{
            .container-info{
                h1 {
                    font-size: 36px;
                    line-height: 50px;
                }
                p{
                    font-size: 15px;
                    line-height: 18px;
                }
                .primary-btn {
                    margin: 20px 10px 0;
                }
                .secondary-btn {
                    margin: 20px 10px 0;
                }
            }
        }
        .phone-image{
            img {
                height: 295px;
            }
        }
    }

    .about{
        margin-top: -530px;

        .about-info{
            .about-phone{
                img {
                    height: 425px;
                }
            }
        }
    }
}

@media screen and (max-width: 840px){
    
    .hero{
        .nav-bar{
            ul{
                li {
                    padding: 0 20px;
                }
            }
        }
    }

    .about{
        .about-info{
            .one {
                margin-left: 0;
            }

            .three {
                margin-top: 0;
                margin-left: 0;
            }
        }
    }

    .apps{
        .app-btn {
            margin-left: 200px;
        }
    }

    .footer{
        .footer-grid {
            grid-template-columns: 48% 49%;
        }
    }
}

@media screen and (max-width: 800px) {
    
    .about {
        margin-top: -555px;
        
        .about-info {
            margin: 0 20px;

            .about-phone{
                img {
                    height: 382px;
                    width: 205px;
                }
            }
        }
    }

    .testimonals{
        .test-grid {
            padding: 0 45px;
        }
    }

    .code-sec{
        .code-grid {
            margin: 0 45px;
        }
    }

    .apps{
        .app-grid {
            padding: 55px 45px 0;

            .app-info{
                .app-icons{
                    img {
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    .info{
        .info-grid {
            padding: 50px 20px;
        }
    }

    .footer{
        .footer-grid{
            grid-template-columns: 47% 50%;
            grid-column-gap: 3%;
            .social-links {
                text-align: left;

                img{
                    padding: 0 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    
    .about{
        padding: 100px 20px 90px;
    }
}

@media screen and (max-width: 755px) {
    
    .hero{
        .nav-bar{
            .logo{
                img {
                    width: 110px;
                    height: 45px;
                }
            }

            ul{
                li {
                    padding: 0 18px;
                }
            }
        }

        .container {
            padding: 65px 100px 15px;
        }
    }

    .about {
        margin-top: -580px;
    }

    .footer{
        .footer-grid{
            grid-template-columns: 48% 49%;
        }
    }
}

@media screen and (max-width: 715px) {
    
    .hero{
        .container {
            padding: 25px 30px 5px;
        }
    }

    .about {
        margin-top: -605px;
    }

    .testimonals{
        .test-grid{
            .test-info{
                h2 {
                    font-size: 29px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }

    .code-sec{
        .code-grid{
            .code-info{
                h2 {
                    font-size: 29px;
                    line-height: 65px;
                }
                p{
                    font-size: 15px;
                    margin-top: 30px;
                }
            }
        }
    }

    .apps{
        .app-grid{
            .app-info{
                h2 {
                    font-size: 29px;
                }
                p{
                    font-size: 15px;
                    margin-bottom: 30px;
                }
            }
        }
        .app-btn {
            margin-left: 160px;
        }
    }

    .info{
        .info-grid {
            grid-template-columns: 47% 47%;
            grid-row-gap: 5%;
        }

    }

    .info{
        .fields{
            .fld-txtbx {
                width: 420px;
            }
        }
    }
}

@media screen and (max-width: 674px) {

    .hero{
        .container{
            .container-info{
                .primary-btn {
                    width: 130px;
                    padding: 7px 15px;
                }
                .secondary-btn {
                        width: 130px;
                        padding: 7px 15px;
                }
            }
        }
    }
    .apps{
        .app-btn {
            margin-left: 115px;
        }
    }

    .info{
        .sub-head{
            h2 {
                line-height: 45px;
                font-size: 29px;
            }
            p{
                font-size: 15px;
            }
        }
    }

    .info{
        .fields{
            margin: 0;

            .fld-txtbx {
                width: 350px;
            }
        }
    }
}

@media screen and (max-width: 667px) {
    
    .about {
        margin-top: -632px;
    }
    .apps{
        .app-grid{
            .app-img{
                img {
                    height: 375px;
                    width: 195px;
                }
            }
        }
    }

    .footer{
        padding: 25px 50px;
        .footer-grid {
            grid-template-columns: 100%;
            grid-row-gap: 20px;
            justify-items: center;
        }
    }
}

@media screen and (max-width: 655px) {
    
    .about{
        .about-info{
            .about-items {
                grid-template-columns: 100%;
            }
        }
    }
}

@media screen and (max-width: 625px){

    .about {
        margin-top: -655px;
    }
}

@media screen and (max-width: 590px){

    .hero{
        .nav-bar{
            ul{
                li {
                    padding: 0 12px;
                }
            }
        }

        .container{
            .container-info{ 
                    h1 {
                        font-size: 30px;
                        line-height: 42px;
                    }
                    p {
                        font-size: 13px;
                        line-height: 15px;
                    }
            }
        }
    }

    .about {
        margin-top: -682px;

        .about-info{
            .about-phone{
                img {
                    height: 350px;
                    width: 185px;
                }
            }
        }
    }

    .apps{
        .app-btn {
            margin-left: 80px;
            }
        }
    }


@media screen and (max-width: 540px){

    .hero{

        .container {
            padding: 5px 30px 5px;
        }

        .nav-bar{
            .myTopNav{
                display: none;
            }

            .myTopNav.show{
                width: 100%;
                height: 548px;
                display: block;
                position: absolute;
                background-color: deepskyblue;
                animation: top-slider 0.4s linear;
                top: -2px;
                left: 0;
                z-index: 99;

                ul{
                    margin-top: 90px;
                    li{
                        display: block;
                        padding: 22px 0;
                        margin: 0 auto;
                        text-align: center;

                        &:hover{
                            // border-bottom: 2px solid darken(deepskyblue, 10);
                            transform: translateX(8px);
                            transition: 0.4s linear;
                        }
                    }
                } 
            }

            .close-icon.show{
                display: block;
                position: absolute;
                z-index: 999;
                top: 40px;
                right: 50px;
                animation: top-slider 0.4s linear;
            }

            .myTopNav.close{
                display: none;
            }

            .close-icon.close{
                display: none;
            }

            .hamburger{
                display: block;
            }
        }
        
    }
    @keyframes top-slider {
        0%{
            transform: translateX(-100px);
        }
        20%{
            transform: translateX(-80px);
        }
        40%{
            transform: translateX(-60px);
        }
        60%{
            transform: translateX(-40px);
        }
        80%{
            transform: translateX(-20px);
        }
        100%{
            transform: translateX(0);
        }
    }

    .about {
        margin-top: -705px;
        padding: 60px 20px 90px;
    }

    .apps{
        .app-btn {
            width: 300px;
            font-size: 20px;
            padding: 18px;
        }
    }

    .info{
        .sub-head{
            p {
                line-height: 25px;
                margin-bottom: 25px;
            }
        }
    }
}

@media screen and (max-width: 490px){

    .hero{
        .container{
            .container-info{

                h1{
                    padding: 0 0 10px;
                }
                .secondary-btn {
                    width: 120px;
                    padding: 7px 15px;
                    margin: 15px 10px 0;
                    font-size: 11px;
                }

                .primary-btn {
                    width: 120px;
                    padding: 7px 15px;
                    margin: 15px 10px 0;
                    font-size: 11px;
                }
            }
        }
    }

    .about {
        margin-top: -730px;

        .about-info{
            .about-phone{
                img {
                    height: 285px;
                    width: 149px;
                }
            }
        }
    }

    .apps{
        .app-grid{
            .app-img{
                img {
                    height: 300px;
                    width: 160px;
                }
            }

            .app-info .app-icons img {
                margin-right: 12px;
                width: 135px;
            }
        }
    }

    .info{
        .fields{
            .field-btn {
                    margin: 13px 10px 0;
            }
        }
    }
}

@media screen and (max-width: 455px){

    .hero{
        
        .nav-bar {
            padding: 18px 45px 15px;
        }

        .container{
            .container-info{

                h1{
                    font-size: 24px;
                    line-height: 34px;
                }
                p{
                    font-size: 11px;
                }
            }
        }
    }

    .about {
        margin-top: -755px;
    }
}

@media screen and (max-width: 425px) {
    
    .hero{
        .nav-bar{

            .hamburger img {
                width: 25px;
                height: 23px;
            }

            .logo{
                img {
                    width: 100px;
                    height: 40px;
                }
            }
        }

        .container{
            .container-info{
                .secondary-btn {
                    margin: 15px 0 0;
                }

                .primary-btn {
                    margin: 15px 0 0;
                }
            }
        }

        .phone-image img {
            display: none;
        }
    }

    .about {
        margin-top: -778px;
        padding: 42px 20px 90px;

        .about-info{
            .about-phone{
                img {
                    height: 260px;
                    width: 135px;
                }
            }
        }
    }

    .testimonals{
        .test-grid {
            padding: 0 20px;

            .test-info{
                h2 {
                    font-size: 27px;
                    line-height: 70px;
                }
                p{
                    font-size: 14px;
                    line-height: 25px;
                }
            }

            .test-boxes{
                .box{
                    .box-info{
                        h3 {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .code-sec{
        .code-grid {
            margin: 0 35px;

            .code-info{
                h2 {
                    font-size: 27px;
                }

                p{
                    font-size: 14px;
                    line-height: 25px;
                }
                .code-box {
                    margin-top: 15px;
                }
            }
        }
    }

    .apps{
        .app-grid{
            .app-info{
                h2 {
                    font-size: 27px;
                    line-height: 30px;
                }
                p{
                    font-size: 14px;
                    line-height: 25px;
                }
            }
        }
        .app-btn {
            margin-left: 45px;
        }
    }

    .info{
        margin: 82px 20px 50px;

        .info-grid{
            .info-box{
                ul{
                    li {
                        color: #777;
                        padding: 10px 0 4px;
                    }
                }
            }
        }

        .sub-head{
            h2 {
                line-height: 45px;
                font-size: 27px;
            }

            p{
                font-size: 14px;
            }
        }

        .fields{
            .fld-txtbx {
                height: 38px;
            }
            .field-btn {
                width: 140px;
                height: 40px;
                font-size: 15px;
            }
        }
    }

    .footer{
        padding: 15px 50px;

        .footer-grid{
            .copyright {
                font-size: 13px;
            }

            .social-links{
                a{
                    img{
                        height: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 389px){

    .apps{
        .app-grid{
            .app-info{
                .app-icons{
                    img {
                        width: 110px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    
    .hero{
        .nav-bar {
            padding: 16px 30px 0;
        }
    }

    .about {
        margin-top: -782px;
        
        .about-info{
            .about-phone{
                img {
                    height: 250px;
                    width: 127px;
                    margin: 10px 0 0;
                }
            }

            .about-items {
                grid-row-gap: 44px;
            }
        }  
    }

    .info{
        .fields{
            .fld-txtbx{
                width: 280px;
            }
        }
    }

    .testimonals{
        .test-grid {
            .test-info{
                h2 {
                    font-size: 25px;
                    line-height: 70px;
                }
                p{
                    font-size: 13px;
                    line-height: 25px;
                }
            }

            .test-boxes{
                .box {
                    margin-bottom: 20px;
                    padding: 10px;

                    .box-info{
                        h3 {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .code-sec{
        .code-grid {
            .code-info{
                .code-box{
                    h3 {
                        font-size: 17px;
                    }
                }
                h2 {
                    font-size: 25px;
                }

                p{
                    font-size: 13px;
                }
            }
        }
    }

    .apps{
        .app-btn {
            margin-left: 32px;
        }
    }

    .info{
        .info-grid {
            grid-template-columns: 100%;
            grid-row-gap: 3%;

            .info-box{
                h3 {
                    margin-bottom: 8px;
                }
            }
        }

        .sub-head{
            h2 {
                margin-top: 35px;
            }
        }
    }
    .footer{
        .footer-grid{
            .social-links{
                img {
                    padding: 0 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    
    .hero{
        .nav-bar {
            padding: 16px 25px 0;
        }

        .container{
            .container-info{
                h1 {
                    font-size: 20px;
                    line-height: 29px;
                }
                p{
                    font-size: 9px;
                    line-height: 5px;
                }

                .primary-btn {
                    width: 105px;
                }
                .secondary-btn{
                    width: 105px;
                }
            }
        }

        .container {
            padding: 5px 10px;
        }
    }

    .about {
        margin-top: -815px;

        .about-info{
            .about-phone{
                img {
                    height: 228px;
                    width: 118px;
                }
            }
        }
    }

    .apps .app-grid {
        padding: 55px 30px 0;
    }

    .testimonals{
        .test-grid {
            padding: 0 15px;
        }
    }

    .apps{
        .app-grid {
            padding: 55px 30px 0;
        }

        .app-btn {
            width: 260px;
            margin-left: 26px;
        }
    }
}

@media screen and (max-width: 334px) {
    
    .code-sec{
        .code-grid {
            margin: 0 25px;
        }
    }

    .info {
        margin: 40px 20px 50px;
    }

    .footer {
        padding: 15px 40px;
    }
}