@import "global";

@mixin container {
    padding: 80px 100px 50px;
}

@mixin buttons {
    width: 150px;
    padding: 10px 15px;
    margin: 30px 10px 0;
    border-radius: 8px;
    font-weight: bolder;
    border: 1px solid $primary-color;
    text-transform: capitalize;
}

@mixin primary-heading {
    font-size: $heading-main;
    font-weight: bold;
    text-transform: capitalize;
}

@mixin secondary-heading{
    font-size: $small-heading;
    font-weight: bolder;
    text-transform: capitalize;
    color: $black;
}

@mixin small-heading {
    text-transform: capitalize;
    font-size: $primary-font;
    font-weight: bolder;
}